/* The following block can be included in a custom.scss */

/* make the customizations */
$breadcrumb-divider-color: #f4e3cf;
$breadcrumb-active-color: #f4e3cf;
$breadcrumb-color: #f4e3cf;

$body-bg: #963e45;
$body-color: #f4e3cf;

$primary: #963e45;
$secondary: #f4e3cf;

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
